## Python as Calculator

With a good interface, such as Jupyte Notebook we are using now, Python can help us with simple processes:

In [1]:
1 + 1

2

In [2]:
"I " + "love " + "Python."

'I love Python.'

Above we saw that Python provides **operators** to process **values**.

- `1` is a value and addition, `+`, is an operator. It does the usual mathematical addition.
- The words: `"hello"`, `" "`, and `"world"` are three string values. The operator `+` does concatenation.

There are three most commonly used primitive types:

- numerical (integer as `int` and `float`). With Python 3, you don't need to worry about the difference between `int` and `float` when you do simple calculations. We will discuss the differences when it's necessary.
- text (string as `str`)
- logical (boolean as `boo`)

#### Numerical Values

Numerical values come with usual arithmetic operators. Below are some examples:

In [3]:
print("2+3:", 2+3)        # addition
print("2-3:", 2-3)        # subtraction
print("2*3:", 2*3)        # multiplication
print("12/3:", 12 / 3)     # int / int -> float
print("17/3:", 17 / 3)     # int / int -> float
print("17//3:", 17 // 3)    # floor division
print("17.0//3:", 17.0 // 3)  # return float if one of the values is float 
print("17%3:", 17 % 3)     # remainder
print("2**7:", 2 ** 7)     # 2 to the power of 7

2+3: 5
2-3: -1
2*3: 6
12/3: 4.0
17/3: 5.666666666666667
17//3: 5
17.0//3: 5.0
17%3: 2
2**7: 128

Numerical values also come with comparison operators:

In [4]:
# == returns True if the objects on the two sides are same
print("2==2:", 2==2)
print("2==1:", 2==1)

# != returns True if the objects on the two sides are NOT same
print("2!=2:", 2!=2)
print("2!=1:", 2!=1)

2==2: True
2==1: False
2!=2: False
2!=1: True

In [5]:
# Some other comparison operators for numbers

# greater than: >
print("2>1:", 2>1)
print("1>2:", 1>2)
print("2>2:", 2>2)

# smaller than: >
print("2<1:", 2<1)
print("1<2:", 1<2)
print("2<2:", 2<2)

# greater than or equal to: >=
print("2>=1:", 2>=1)
print("1>=2:", 1>=2)
print("2>=2:", 2>=2)

# smaller than or equal to: >=
print("2<=1:", 2<=1)
print("1<=2:", 1<=2)
print("2<=2:", 2<=2)

2>1: True
1>2: False
2>2: False
2<1: False
1<2: True
2<2: False
2>=1: True
1>=2: False
2>=2: True
2<=1: False
1<=2: True
2<=2: True

**Exercises**:

Print the result of the following arithmetics or comparisons:

- 100/10
- 100/11
- 100//11
- 100 > 100
- 100 >= 100
- 100 == 100

In [ ]:
### Your answer here:

#### Text Values

String values can br created with `'` or `"`

In [2]:
print("This is a string.")
print('This is also a string.')

This is a string.
This is also a string.

Here we intorduce a special character: `"\n"`. It breaks a string, everything after `"\n"` goes to a new line.

In [4]:
print("We can use a newline character\nto a split string.")

We can use a newline character
to a split string.

Some simple operators a listed here. More sophisticated ones will be discussed later.

- Concatenation:

In [7]:
print("hello" + " " + "world")

hello world

- Strings are case-sensitive

In [8]:
"A" == "a"

False

- Comparison follows the usual alphabetical order:

In [9]:
print("A"<"B")
print("B"<"C")
print("C"<"Z")
print("Z"<"a")
print("a"<"b")
print("b"<"z")

True
True
True
True
True
True

**Exercises**:

Create and print the following text:

- *A abBCc*
- *It is a beautiful day.*

In [5]:
### Your answer here:

#### Logical Values

We have seen that the output of comparison operators are `boo`. Here are some opperators for them:

In [10]:
# and operators
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [11]:
# or operators
print(True or True)
print(True or False)
print(False or False)

True
True
False

The kind of value is called "type" in Python. One can see the type of an object by:

In [12]:
print(type(1))
print(type(1.0))
print(type("A"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

---

## Variables

We don't use Python merely as a caculator. We use it to process data with sophisticated processes. 

**Variables** are used to give names to values. The equal sign `=` is used to assign a value to a variable.

In [13]:
# Variable can be created with an assignment.

tax = 0.125

In [14]:
# A variable can be called later (in a different "cell" in Jupyter Notebook)

tax

0.125

We saw that the variable `tax` represents a numerical value. So we can apply any process that is valide for a numerical value:

In [15]:
150 * tax

18.75

Very often we want to save a value in a variable because it might be created by a more involved process so we want to avoid having to re-type an expression, and so the computer doesn’t have to recompute it.

In [16]:
tax = 12/100 + 0.05

In [17]:
# You don't want to always type this:
print(150 * (12/100 + 0.05))

# You would rather do this:
print(150 * tax)

25.499999999999996
25.499999999999996

One can also apply `type` to a variable:

In [18]:
type(tax)

float

**Naming Convention**

Naming a variable is important. The name of a variable should be informative and concise. Below are some tips for naming.

- Variable names in Python should start with letters, and can contain any number of letters, digits, and  _.

- Python names are case sensitive. 

- By convention, Python variables usually start with lower-case letters.  Variables should have descriptive names; for multi-word names, separate the words by underscores.
 - Good names:  first_index, random_nums.
 
**Exercises**:
- Create a variable `x` with value 100:

In [6]:
### Your answer here:

- Print out `x + 1`

In [ ]:
### Your answer here:

- Print out `x` again:

In [7]:
### Your answer here:

#### Remark: Action and Expression

From the cells above, we observe that some cells have outputs and some don't. This dependes on what kind of code we wrote in each cell. A chunk of code can be:

- an expression that represents a value;
- an action that does something

For example, the code `1+1` below is an expression because it represents a value 2. Here we see that executing a cell with an expression in the last line will print the value last line represents:

In [8]:
1+1

2

But only the last expression

In [9]:
2  # not printed
1  # printed

1

An action doesn't represents value. By default, there would be nothing to print out. Assignments are a typical action.

In [10]:
x = 1  # nothing is printed out

In [11]:
x      # But then x has a value. It's now an expression and it represents 1.

1

**Exercises**:

- Is `x+1` an expression or an action?

In [12]:
### Your answer here

- Is `x=x+1` an expression or an action?

In [13]:
### Your answer here

---

## Data Structure

We have been working with values. But as data scientists, we often want to work with a collection of values. Depending on what we want to do to the collection we fit the data into different structures.

### `List`

A list organizes elements in a linear order. The order is representeb by indexes. 

**Creating**: To create a list, one uses brackets `[` and `]` to enclose the elements:

In [23]:
[1,2]

[1, 2]

In [24]:
['a','b','c']

['a', 'b', 'c']

In [25]:
type([1,2])

list

One can also create a list of mix type:

In [26]:
[1,2] + ['a','b','c'] # The operator + concatenates lists

[1, 2, 'a', 'b', 'c']

A list can be saved as a variable:

In [27]:
lst1 = [1,2]
lst2 = ['a','b','c']

In [28]:
print(lst1)
print(lst2)

[1, 2]
['a', 'b', 'c']

In [29]:
lst1 + lst2

[1, 2, 'a', 'b', 'c']

**Exercises**:

- Create a list `lst_a` with 1, 2, 3, "a", "A", "a", and "8" as its elements, and a list `lst_b` with 5, 6, 7, and 8 as its elements.

In [14]:
### Your answer here

**Indexes**: Indexes identify elements in a list. Notice that the index of the first element is 0.

In [30]:
lst = [1, 2, 3, 4, 5]

print(lst[0])
print(lst[1])
print(lst[2])
print(lst[3])
print(lst[4])

1
2
3
4
5

The last element can be identified with negative indexes:

In [31]:
print(lst[-1])
print(lst[-2])
print(lst[-3])
print(lst[-4])
print(lst[-5])

5
4
3
2
1

We may also slice with indexes:

In [32]:
print(lst[1:3])
print(lst[1:])
print(lst[:3])

[2, 3]
[2, 3, 4, 5]
[1, 2, 3]

**Exercises**:

- Print the type of the last element of your `lst_a`.

In [ ]:
### Your answer here

**Updating**:  

Updating can be done by assigning a value to an index.

In [33]:
lst[0]

1

In [34]:
lst[0] = "a" # assign "a" to the index 0

In [35]:
lst

['a', 2, 3, 4, 5]

**Exercises**:

- Mutate your list by changing the value of the last element to an integer 8.

In [ ]:
### Your answer here

**Appending**:

To add a new value to a list, we can use a **method** called `append` as below, and the next availabel index will be assigned. We will discuss the concept of methods in the future.

In [36]:
lst.append(6) # This is an action that actually change the variable `lst`
              # Running this cell multiple times cumulates the changes

lst

['a', 2, 3, 4, 5, 6]

### `dict`

Dictionaries are also collections of elements. The essential difference from a list is that dictionary doesn't assign indexes to elements by default. One who creates a dictionary is responsible to indexed elements with **keys**.

**Creating**: To create a dictionary, one uses curly braces `{` and `}` to enclose the **key-value pairs**:

In [37]:
dtry = {"name":"Luke", "title":"PhD Student"}
dtry

{'name': 'Luke', 'title': 'PhD Student'}

Similar to a list, we would like to extract elements in a dictionary. Elements can be identified with keys:

In [38]:
print(dtry["name"])
print(dtry["title"])

Luke
PhD Student

But a dictionary doesn't recognize indexes:

In [39]:
print(dtry[0]) # This doesn't give us the "first value" in the dictionary. 
              # In fact, There is NO such a concept as "first value".
              # The error message says that Python finds no 0 from the keys of the dictionary.

KeyError: 0

So it's important to find the keys of a dictionary. The keys can be output by a method called `keys`:

In [40]:
dtry.keys()

dict_keys(['name', 'title'])

**Updating**:

The same kind of assingments as for a list can update a dictionary:

In [41]:
dtry["title"] = "Data Scientist"
dtry

{'name': 'Luke', 'title': 'Data Scientist'}

**Appending**:

To add a key-value pair in a dictionary, one can simply assign:

In [42]:
dtry["skill set"] = "Python"
dtry

{'name': 'Luke', 'title': 'Data Scientist', 'skill set': 'Python'}

Notice that the same assigment is not good for appending to a list:

In [43]:
myl = [0,1,2]
print(myl)
myl[3] = 3

[0, 1, 2]

IndexError: list assignment index out of range

### What Can We Collect with Lists and Dictionaries?

We can collect not only primitive values in a list or a dictionary.

In [44]:
# lists as elements
lst = [1, 2, [1,2]]
dtry = {"one": [3, 4]}

print(lst[2])
print(dtry["one"])

[1, 2]
[3, 4]

**Remark**: a key is not what we collect in a dictionary, it is an index instead. An index **cannot** be arbitrary, it has to satisfy some requirement. We will discuss the details later. For now, let's keep in mind that a list cannot be a key:

In [45]:
dtry = {[1,2]: 1}

TypeError: unhashable type: 'list'

### A List of Dictionaries

A dataset can be more complitcated than a list of primitive values. Here is an example:

In [46]:
employees = [
    {"name": "Luke", "title":"Data Scientist"},
    {"name": "Royce", "title":"Developer"}
]

employees

[{'name': 'Luke', 'title': 'Data Scientist'},
 {'name': 'Royce', 'title': 'Developer'}]

This is intuitive to collect individual employees as a list of dictionaries. It also allow us to add a new employee easily.

In [47]:
employees.append({'name': 'Thomas', 'title': 'Data Scientist'})
employees

[{'name': 'Luke', 'title': 'Data Scientist'},
 {'name': 'Royce', 'title': 'Developer'},
 {'name': 'Thomas', 'title': 'Data Scientist'}]

But it is not trivial to retrieve the list of the names of the employees. We need to learn control flows or functional programming to do so. We will learn those in the future.

### A Dictionary of Lists

It is also possible to collect the data as a dictionary of lists.

In [48]:
employees = {
    "names": ["Luke", "Royce"], 
    "titles":["Data Scientist", "Developer"]
}

employees

{'names': ['Luke', 'Royce'], 'titles': ['Data Scientist', 'Developer']}

This structure allows to extract the names easily:

In [49]:
employees["names"]

['Luke', 'Royce']

But appending a new employee is more complicated. We need to update the value of each key and be careful of mismatch. So here we see that to decide how we want to save data, such as a list of dictionaries or a dictionary of lists, we need to know what we will do to the data. We want to facilitate process that we apply more frequently.

For the example above, if we are likely both to add new observations as well as to summarize often, a good structure we can use is `DataFrame` implemented in a popular package called `pandas`. We will learn `pandas`.